<div class="searchform">
    <form action="{{actionurl}}" style="display: inline;">
            <input type="hidden" name="id" value="{{courseid}}">
            <label for="test_name" for="test_name" style="float: left; margin-right: 15px">Name</label>
            <input id="test_name" type="text">
            <button id="add_new_test" type="submit" title=Create new test>Create new test</button><br>
    </form>
</div>
